<!-- Floating menu for easier access -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <div class="floating-menu">
    
     <a href="{{ '/SoftwareEngineering.html' | relative_url }}" class="float-btn">
    <span class="material-symbols-outlined">engineering</span>
     </a>
    
    <a href="{{ '/Algorithms.html' | relative_url }}" class="float-btn">
    <span class="material-symbols-outlined">account_tree</span>
    </a>
    
    <a href="{{ '/Databases.html' | relative_url }}" class="float-btn">
    <span class="material-symbols-outlined">database</span>
    </a>
    
  </div>

<!-- Darkmode.js by Sandoche - https://github.com/sandoche/Darkmode.js - MIT License -->
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script src="{{ '/assets/js/darkmode.js' | relative_url }}"></script>

<!-- active button highlighted on currentPage -->
<script>
  const currentPage = window.location.pathname.split('/').pop();
  document.querySelectorAll('.float-btn').forEach(btn => {
    if (btn.href.includes(currentPage) && currentPage !== '') {
      btn.classList.add('active');
    }
  });
</script>


